@model AppProject.Models.ConectTable

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConectTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colors.ColorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marts.MartId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sizes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sizes.SizeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetailesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
